@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 90%;
    min-width: 60%;
    height: auto;
    background-color: #7a79ce67;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
}

.selecting-language{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.input-text{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border:none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    resize: none;
}

.control{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.select{
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.interact{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.language, .input-container{
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

button{
    border: none;
    padding: 10px 15px;
    background-color: rgb(54, 68, 99);
    color: white;
    border-radius: 5px;
    transition: 0.4s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.678);
    display: flex;
    align-items: center;

}

button:hover{
    background-color: rgb(54, 68, 99);
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1);
}

.result{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
}

.result h3{
    margin-bottom: 10px;
    text-align: center;
}

.result p{
    color: #575656;
}
